html, body { margin: 0; padding: 0; }
body{
    overflow:hidden;
    top: 0;
    bottom: 0;
}
html{
    overflow-y: hidden;
}
#score{
    position: a;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 60px;
}
#txty{
    position: relative;
    text-align: center;
    top:0%;
}
#intop{
    position: absolute;
    top:50%;
    width: 100%;
    height: 50%;
}

#back{
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 0;
    height: 1280px;
}
#logo{
    position:absolute;
    z-index: 5;
    left: 22%;
    top:39.5%;
    width: 73.33333%;
    height: 41.25%;
}
#log{  
    border: none;
    background: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("logo.png");
    background-size:contain;
    background-repeat:no-repeat;
    border: none;
}
.side{
    z-index: 2;
    overflow: hidden;
    margin: 0;
    padding: 0;
    bottom: 0;
    position: absolute;
    background-color: #002037;
    width: 16%;
    height: 100%;
}
.top{
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 21%;
    background-color: #002642;

}
.side_but{
    margin: 0; 
    padding: 0;

    top:0;

    height: 10%;
    width:100%;


    position:absolute;

    background-color: #002037;
    background-image: url("profile.png");
    background-size:contain;
    background-repeat:no-repeat;
    border: none;
}
